{% extends "base.html" %}

{% block content %}
<br>
<h1>We are Everywhere</h1>
<div class="row">
    <div class="col">
        <div class="card">
            <h5 class="card-header">You Order We Deliver</h5>
            <div class="card-body">
                <h5 class="card-title">We have Special Offer for You</h5>
                <p class="card-text">Buy 5 products get 2 more for free with a discount of 40% in all products.</p>
                <a class="btn btn-primary" href="/products">View all Products</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}