{% extends "base.html" %}

{% block content %}
<h1>Products</h1>
<div class="row">
    {% for product in products %}
    <div class="col">
        <div class="card" style="width: 18rem;">

            <img alt="..." class="img-responsive card-img-top" src="{{ product.image_url }}"
                 style="width: 100%; max-width: 400px; height: auto;">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.price }}/= TZS</p>
                <a class="btn btn-primary" href="#">Add to Cart</a>
            </div>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}